/* :root{
    --vw: 0.01vw;
} */

*
{
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

html {
    font-size: calc(16 / 1728 * 100 * var(--vw));
    line-height: 1.1;
    scrollbar-width: none;
  }

body {
    -ms-overflow-style: none;

  }