/* :root{
    --vw: 0.01vw;
} */

*
{
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

html {
    font-size: calc(16 / 1728 * 100 * var(--vw));
    line-height: 1.1;
    scrollbar-width: none;
  }

body {
    -ms-overflow-style: none;

  }

.lk-hover-box,
.load-vertical-line,
.reel-load-line,
.line-video-load,
.video-timeline {
  background:
    linear-gradient(
      90deg,
      #c9f5ff 0%,
      #7bb6ff 13%,
      #121421 29%,
      #020000 34%,
      #170000 39%,
      #d94520 57%,
      #df5ca6 68%,
      #d98cff 75%,
      #111018 85%,
      #f28db3 91%,
      #2e8ef7 100%
    );
  background-size: 160% 100%;
  background-position: center;
}


.team-container
{
    pointer-events: none;
}