:root{
    --vw: 0.01vw;
}

.ft-project-parent
{
    pointer-events: none;
}

*
{
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

html {
    font-size: calc(18 / 1728 * 100 * var(--vw));
    line-height: 1.3;
    scrollbar-width: none;
  }

body {
    -ms-overflow-style: none;

  }

.lk-hover-box,
.hover-g,
.transition-box-two,
.global-box-two,
.nav-box-two,
.load-vertical-line,
.reel-load-line,
.line-video-load,
.info-load-line,
.line-load-page,
.talent-hover-box,
.menu-box-two,
.talent-box-two,
.video-timeline {
  background:
    linear-gradient(
      90deg,
      #c9f5ff 0%,
      #7bb6ff 13%,
      #121421 29%,
      #020000 34%,
      #170000 39%,
      #d94520 57%,
      #df5ca6 68%,
      #d98cff 75%,
      #111018 85%,
      #f28db3 91%,
      #2e8ef7 100%
    );
  background-size: 160% 100%;
  background-position: center;
}

.global-link-box
{
    mix-blend-mode: difference;
    z-index: 1;
}

.menu-close-box
{
    mix-blend-mode: difference;
    z-index: 1;
}

/* .page-load-parent {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background: #000;
  } */

.team-container
{
    pointer-events: none;
}


.body,
.timer
{
    font-size: calc(22 / 1728 * 100 * var(--vw));
    line-height: 1.2; 
}

.subtitle
{
    font-size: calc(98 / 1728 * 100 * var(--vw));
    line-height: 0.9;   
}



.title
{
    font-size: calc(136 / 1728 * 100 * var(--vw));
    line-height: 0.9;   
}

.label
{
    font-size: calc(14 / 1728 * 100 * var(--vw));
    line-height: 1.1;   
}

.sub-body
{
    font-size: calc(52 / 1728 * 100 * var(--vw));
    line-height: 1.1;   
    margin-bottom: 0.5rem;
}




@media (max-width: 480px) {
    html {
      font-size: 1rem;
      line-height: 1.3;
    }
  
    .body,
    .timer{
      font-size: clamp(1.125rem, 4.1667vw, 1.25rem);
      line-height: 1.3;
    }
  
    .subtitle {
      font-size: clamp(1.625rem, 6.6667vw, 2rem);
      line-height: 0.9;
    }


      
    .subtitle.large {
        font-size: 3rem !important;
        line-height: 0.9;
      }

      
    .sub-body {
        font-size: clamp(1.25rem, 5.4167vw, 1.625rem);
        line-height: 1.1;
      }

  
    .title {
      font-size: clamp(3rem, 12.9167vw, 3.875rem);
      line-height: 0.9;
    }
  
    .label {
      font-size: clamp(0.75rem, 2.9167vw, 0.875rem);
      line-height: 1.3;
    }

    .sub-label {
        font-size: clamp(0.875rem, 3.75vw, 1.125rem);
        line-height: 1.3;
      }


  }



  [data-a="rounded"]{
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 30;
  }
  
  [data-a="rounded-l"]{
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 34;
  }
  
  [data-a="rounded-m"]{
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 24;
  }






  
